.card img {
  width: 100%;
}

.card {
  margin-botton: 1.5rem;
  margin-top: 1.5rem;
}

.dialogue {
  color: red;
}

.rating-text {
  color: gray;
}

.badge {
  float: right;
}

.update-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.create-button{
  margin: 2rem 0;
}


#movie-plot {
  height: 5rem;
}
