.card img {
  width: 100%;
}

.card {
  margin-botton: 3rem;
}

.rating-text {
  color: gray;
}

.badge {
  float: right;
}

.update-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}


#movie-plot {
  height: 5rem;
}
